@import "../../styles/colors.css";

.title {
  color: var(--color-black);
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.38px;
  font-weight: 500;
}

.wrapper {
  padding: 12px;
}

.mainTitle {
  font-size: 18px;
  color: var(--color-dark-blue);
}
